<main id="about">
  <h1>
    About <span>Me</span>
  </h1>
  <h3>
    A very brief summary of my professional experience.
  </h3>
  <section class="career-section">
    <h3>Career</h3>
    <p>I studied Electronic and computing engineering. My career path is entirely focused on the Java programming
      language.</p>

    <div class="timeline">
      <div class="container" *ngFor="let jobEntry of jobs;let even = even" [ngClass]="even ? 'left' : 'right'">
        <div class="content">
          <h5 class="date-range">{{jobEntry.startDate | date}} / {{jobEntry.endDate || presentDate | date}}</h5>
          <a href="{{jobEntry.companyOrProjectURL}}">{{jobEntry.companyOrProjectURL}}</a>
          <ul *ngFor="let item of jobEntry.responsibilities;">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
